*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main{
    width: 1000px;
    margin: auto;
    border: none;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}
#winner{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: aqua;
}
.container{
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    background-color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.content{
    width: 30%;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
}
.box{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    margin: auto;
    margin-right: 22px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.content h1{
    margin-top: 6px;
    background-color: brown;
    color: aliceblue;
    border-radius: 12px;
}
#roll{
 display: block;   
 margin: auto;
 margin-top: 15px;
 margin-bottom: 20px;
 padding: 15px 35px;
 border: none;
 background-color: aquamarine;
 color: black;
 font-size: 24px;
 font-weight: 500;
 border-radius: 8px;
 cursor: pointer;
}
